#circle {
  background: #d5fa70;
  border-radius: 50%;
  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#lux-value {

  color: #000000;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}